@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: medium;
}

:root{
  --bg: #0d2d3d;
  --text:  #FCF3E3;
  --detail: #f4a258; 
}


html{
  background-color: var(--bg);
  color: var(--text);
  font-family: "archivo", Arial, Helvetica, sans-serif;
  margin: 0px;
  font-weight: 600;
  font-size: 20px;
}

* {
  margin: 0px;
}

#content {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p:first-of-type{
  opacity: 0.75;
}
