<footer class="flex-row align_spread">
  <p class="small_font alt_text "> Design & Code © Jennifer Schuler 2026 v01.02.00 </p>
  <a href="../impressum/" class="small_font alt_text "> Impressum </a>
  <a href="../colophon/" class="small_font alt_text " > Colophon </a>

 
  </footer>
</body>
</html>