<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Oh, you're early! </title>
    <link rel="stylesheet" href="..\_style\style.css">
    <link rel="icon" type="image/png" href="img\favicon.png">
  </head>
  <body>

<nav>
  <div>
    <a href="index.html"> Über </a>
    <a href="/cv/"> Lebenslauf </a>
    <a href="/portfolio/"> Portfolio </a>
    <a href="/contact/"> Kontakt</a>
  </div>
</nav>