<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/main.css"/>
    <title>{{ title }}</title>
  </head>
  <body>
    <nav>
      <a href="../index.html"> start</a>
      <a href="../blogs.html"> Blog </a>

    </nav>