@font-face {
  font-family: "Archivo";
  src: url("../_assets/fonts/Archivo-VariableFont.ttf")
    format("truetype");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: medium;
}
@font-face {
  font-family: "Clash";
  src: url("../_assets/fonts/ClashDisplay-Variable.ttf")
    format("truetype");
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: medium;
}

:root{
  --bg:  #191A1D;
  --text: #EEEFF5;
  --text_alt: #aeaeb1;
  --detail_1: #62D2DE;
  --detail_2: #C190EB;
  --detail_3: #97E290;

  --gap_very_big: 4rem;
  --gap_big: 2rem;
  --gap_small: 1rem;
  --gap_mini: 0.75rem;

  /* font sizes */
  --hero: 8rem;
  --h1_size: 6rem;
  --h2_size: 4rem;
  --h3_size: 2rem;
  --p_size: 1rem;
  --small_size: 0.8rem;

  /*MISC*/
  --col_w_1: 15vw; /*TODO! set correctly*/

  --border_radius_img: 30px;
}

html{
  background-color: var(--bg);
  color: var(--text);
  font-family: "archivo",  Helvetica, Arial, sans-serif;
  margin: 0px;
  font-weight: 600;
  font-size: 16px;
}

* {
  margin: 0px;
}

.hero {
  font-size: var(--hero);
  letter-spacing: -2%;
}
h1 {
  font-size: var(--h1_size);
  font-family: "clash";
  line-height: 90%;
}
h2 {
  font-size: var(--h2_size);
  font-family: "clash";
  line-height: 95%;
}
h3 {
  font-size: var(--h3_size);
}
h4 {
  font-size: var(--p_size);
  text-transform: uppercase;
}
p, a {
  font-size: var(--p_size);
  line-height: 160%;
  vertical-align: top;
  color: var(--text);
}

a {
  text-decoration: none;
  transition: color 0.4s;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
/* a decoration! */
a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: var(--detail_1);
  opacity: 0;
  transition: transform 350ms;
}

a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

a:hover::after, a:focus::after{
  transform: translate3d(0, 0, 0);
}
hr {
  color: var(--text_alt);
}

.small_font {
  font-size: var(--small_size);
  letter-spacing: 5%;
}
.alt_text {
  color: var(--text_alt);
}
.upper {
  text-transform: uppercase;
}
em {
  text-decoration: underline;
  text-decoration-color: var(--detail_3);
  text-decoration-thickness: 3px;
}

nav{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;

}
nav>div{
  display: flex;
  gap: var(--gap_big);
  padding: var(--gap_big);
  color: var(--text);
  font-size: var(--h3);
}
nav>div>a, footer>div>a {
  color: inherit;
}

nav>div>a:hover, footer>div>a:hover {
  color: var(--detail_1);
}

footer{
  display: flex;
  flex-direction: column;
  padding: var(--gap_big);
  margin-top: var(--gap_big);
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--gap_big);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: var(--gap_very_big);
}
/* ul {
  list-style-image: url("../_assets/img/asterisk.svg") 
} */
li{
  padding-top: calc(var(--gap_small) / 2);
  list-style-image: url("../_assets/img/asterisk.svg");
  line-height: 140%;

}

.timeline_date {
  color: var(--text_alt);
  font-size: var(--small_size);
  text-transform: uppercase;

}

.flex-row{
  display: flex;
  flex-direction: row;
  gap: var(--gap_big);
  align-self: baseline;
}
.flex-column{
  display: flex;
  flex-direction: column;
  gap: var(--gap_big);
}
.reduced-gap {
  gap: var(--gap_small);
}
.mini-gap {
  gap: var(--gap_mini);
}
.align_spread {
  justify-content: space-between;
}
.width_1{
  min-width: var(--col_w_1)
}

#portrait {
  display: block;
  width: 80%;
  height: auto;
  border-radius: var(--border_radius_img);
}

.border {
  border-top: 2px solid var(--text_alt);
  border-bottom: 2px solid var(--text_alt);
  padding: var(--gap_small) 2px;
  padding-right: 15px;
  height: fit-content;

}

.icon {
  max-width: 50px;
}
.test { /*TODO: What*/
  display: flex;
  flex-direction: row;
  gap: var(--gap_mini);
  white-space: nowrap;
}

.fill {
  height: 85vh;
}
.padding-right {
  padding-right: 10px;
}

.card{ /*TODO: Better Name!*/
  display: flex;
  flex-direction: column;
  gap: var(--gap_small);
}

#landing_project, #landing_project>h1{
  width: 80%;
}

#detail-box{
  width: var(--col_w_1);
  align-self: flex-end;
}

/* Rich Text Styling -> TODO: Switch to SCSS? */
#rich_text{
  width: 90%;
}
#rich_text>*{
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}
aside>a, aside{
color: var(--text_alt);
  
}
aside>a::before{
  content: "* ";
  color: var(--text_alt);
}

aside>a::after{
  background-color: var(--text_alt);
}

/* Wrestling with pictures to be displayed properly */
.default-img>picture>img{
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border_radius_img) ;
}

figure>picture>img{
  width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: var(--gap_mini);
}
.gallery>*, .gallery>picture>img {
  width: calc( (100% - var(--gap_mini)) / 2);
}

figcaption{
  color: var(--text_alt);
  text-align: center;
}

@media screen and (orientation: portrait)  { 
:root{
  --col_w_1: 25vw;
  --h1_size: 4rem;
  --h2_size: 3rem;
  --h3_size: 2rem;
  --p_size: 1rem;
  --small_size: 0.8rem;
  }
  html {
    font-size: 14px;
  }
  section, #landing_project, #landing_project>h1{
  width: 80%;
  }

  #rich_text>*{
    width: 90%;
  }

  li {
    line-height: 150%;
  }
  nav {
    background-image: linear-gradient(to bottom, var(--bg) 80%, #00000000 99.9%);
  }
  #portrait {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  footer{
    padding: var(--gap_small);
    margin-top: var(--gap_mini);
    flex-wrap: wrap-reverse;
  }
  footer>p {
    width: 100%;
  }
  .mobile_column{
    flex-direction: column;
  }
  .h2 {
    font-size: var(--h2_size);
  }

}