
{% include "_header.njk" %}

<section id="about">
  <h1> Über </h1>
  <div class="flex-row">
    <img id="portrait" src="_assets/img/Werkschau_Portrait.png" alt="black and white image of a young person with glasses smiling into the camera. A line drawing of a small plant placed on the head.">
    <div class="flex-column reduced-gap">
      <h2> Jennifer Schuler </h2>

      <div class="mini-gap border flex-row align_spread">
        <div class="test">
          <img src="_assets/img/map-pin.svg" alt="map pin icon">
          <p> Düsseldorf, DE </p>
        </div>

        <div class="test">
          <img src="_assets/img/asterisk.svg" alt="asterisk" class="icon">
          <p> Sie/Ihr </p>
        </div>

      </div>
        <!-- <div class="flex-row mini-gap">
          <img src="_assets/img/asterisk.svg" alt="asterisk" class="icon">
          <p> Sie/Ihr </p> -->
        

        <!-- <div class="border align_spread flex-row">
        <div class="flex-row mini-gap">
          <img src="_assets/img/map-pin.svg" alt="map pin icon">
          <p> Düsseldorf DE </p>
        </div>
        <div class="flex-row mini-gap">
          
        </div> -->

        
      

      <p> Hey there, nice to meet you! I'm a <em> multidisciplinary creative developer with a strong interest in Front-End-Development, User Experience and Data Science. </em> </p>
    </div>
    
  </div>
</section> 

<section id="cv">
  <h1> Lebenslauf </h1>
  <div class="flex-column"> 
    <div class="flex-row">
      <h4 class="alt_text width_1"> Bildungsweg </h4>
      <div class="flex-column"> 
        <div>
          <p class="timeline_date"> Seit September 2025 </p>
          <p> Studium Data Science, AI und intelligente Systeme (B.Sc.), Hochschule Düsseldorf</p>
        </div>

        <div>
          <p class="timeline_date"> Oktober 2020 - Juli 2025 </p>
          <p> Studium Kommunikationsdesign (B.A.) Hochschule Düsseldorf <br> Studium Generale mit Gesamtnote 1.1 <br> Abschlussarbeit: Gaze-based Interactions in 2D-Interfaces</p>
        </div>
      </div>
    </div>

    <div class="flex-row">
          <h4 class="alt_text width_1"> Arbeit&Praktika </h4>
          <div class="flex-column"> 
            <div>
              <p class="timeline_date"> Juni 2024 - Februar 2026 </p>
              <p> Studentische Hilfskraft MIREVI, Düsseldorf</p>
              <ul>
                <li> Entwicklung eines Wordpress Theme (HTML, CSS, JavaScript, PHP)</li>
                <li>Social Media Management und Erstellung von Inhalten für Instagram, Facebook und Blog</li>
                <li>Eventfotografie</li>
                <li>Videoschnitt</li>
              </ul>
            </div>

            <div>
              <p class="timeline_date"> 6.12.2019 - 14.02.2020 </p>
              <p> Praktikum VP Bank (Luxembourg) SA, Luxembourg <br> Accounting & Financial Reporting</p>
              <ul>
                <li> Rechnungsbearbeitung, Vorbereitung von Zahlungsanweisungen und Buchungen</li>
                <li> Mitarbeit und Vorbereitung des Monatsabschlusses (inkl. Verbuchungen von Transaktionen) </li>
                <li> Analyse und Aufstellung von Anlagen zu Mehrwertsteueranfragen Mitarbeit und Unterstützung im Jahresabschluss der VP Fund Solutions (Luxembourg) SA</li>
                <li> Ordnererstellung und Ordnerarchivierung </li>
                <li> Übersetzung geschäftlicher Mails vom Deutschen ins Englische</li>
              </ul>
            </div>
          
          </div>
    </div>
  <!-- <a> See all </a> -->
  </div>
  <hr>
  
  <div class="flex-row">
  <h4 class="alt_text width_1"> Skills </h4>
  <div class="flex-column">
    <div>
      <h4 class="alt_text" > HTML & CSS </h4>
      <ul>
        <li> Semantic html </li>
        <li> Static Site Generation using 11ty </li>
        <li> Accessibility </li>
      </ul>
    </div>
    <div>
      <h4 class="alt_text" > JavaScript </h4>
      <ul>
        <li> D3.js </li>
        <li> Pixi.js </li>
      </ul>
    </div>
    <div>
      <h4 class="alt_text"> Python </h4>
      <ul>
        <li> Pandas, Numpy, SciKit Learn </li>
      </ul>
    </div>

    <div>
      <h4 class="alt_text"> Design </h4>
      <ul>
        <li> Data Visualisation Best Practices </li>
        <li> Design Tools (Figma, Adobe CS, Affinity) </li>
        <li>  Media Tools (Blender, DaVinci Resolve, Adobe Premiere Pro) </li>
      </ul>
    </div>
  </div> 
  </div>
  <hr>
<div class="flex-row" >
  <h4 class="alt_text width_1"> Sprachen </h4>
  <ul>
    <li> Deutsch <span class="alt_text"> Muttersprache </span> </li>
    <li> Englisch <span class="alt_text"> fortgeschrittene Sprachkenntnisse (B2/C1) </span> </li>
    <li> Französisch<span class="alt_text"> Grundkenntnisse </span> </li>
  </ul>
</div>
</section>


<!-- <section id="Featured_Portfolio">
  <h1> Some Projects </h1>>
  Show three highlighted Pieces
  LINK all pieces 

</section> -->

{% include "_footer.njk" %}