{% include "_header.njk" %}
<section>
  <h1> Case Studies </h1>
  <p> Currently under construction! </p>
  <div class="flex-column">
    {%- for post in collections.casestudy | reverse -%}
  
    <a href="{{ post.data.title | slugify }}" class="card">
      <p class="alt_text upper"> <em> {{ post.data.status }} </em> </p>
      <h2> {{ post.data.title }} </h2>
      <p> {{ post.data.TLDR }}  </p>
        <div class="flex-row  padding-right align_spread">
          <p class="alt_text small_font upper"> {{ post.data.time}}  </p>
          <div class="flex-row mini-gap">
            <p class="alt_text small_font upper"> {{ post.data.field[0]}}  </p>
            <img src="../_assets/img/asterisk.svg">
            <p class="alt_text small_font upper"> {{ post.data.field[1]}}  </p>
            <img src="../_assets/img/asterisk.svg">
            <p class="alt_text small_font upper"> {{ post.data.field[2]}}  </p>
          </div>
          
        </div>
        
      <hr>      
    </a> 
  {%- endfor -%}
  </div>
  

</section>

{% include "_footer.njk" %}