---
permalink: portfolio\{{ title | slugify }}.html
---

{% include "_header.njk" %}
<section id="landing_project" class="fill flex-column align_spread" >
  <div class="flex-column  ">
    <h1 class="h2"> {{ title | safe }}</h1>
    <h3 class="alt_text"> {{ TLDR| safe }} </h3>
  </div>

  <div id="detail-box" class="flex-column reduced-gap">
  <hr> 
    <div>
      <p class="upper alt_text small_font " > date </p>
      <p> {{ time }} </p>
    </div>

    <div>
      <p class="upper alt_text small_font " > For </p>
      <p> {{ for }} </p>
    </div>

    <div>
      <p class="upper alt_text small_font " > Discipline </p>
      <p> {{ field[0]}} {{ field[1]}} {{ field[2]}} {{ field[3]}} </p>
    </div>
  </div>
</section>

<section id="rich_text" class="flex-column">
    {{content | safe }}
</section>

{% include "_footer.njk" %}